@import '../Student/student.scss';

.enrollment {
  @extend .student;

  &__text {
    padding: 16px 0px;

    &--done {
      @extend .student__text;
      color: $color-success;
    }

    &--hidden {
      visibility: hidden;
    }
  }

  &__button {
    &--hidden {
      display: none;
    }
  }
}

.enrollments {
  @extend .students;

  &__container {
    @extend .students__container;
  }
}

.enrollment-list {
  @extend .student-list;
}
