@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.action {
	background-color: transparent;
	border: none;
	border-radius: 4px;
	color: #2c2c2c;
	cursor: pointer;

	&:active {
		background-color: rgba(0, 0, 0, 0.13);
	}

	&--rotation {
		border-radius: 46px;
		height: 46px;
		width: 46px;
		@include rotation();
	}
	&--danger {
		color: $color-danger;
	}
}
