@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.button {
	background-color: rgba($color-primary, 0.52);
	border: none;
	border-radius: 4px;
	padding: 10px 12px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	@include box-shadow(1);

	&:hover {
		@include box-shadow(2);
		background-color: rgba($color-primary, 0.88);
	}
	&:active {
		@include box-shadow(1);
		background-color: rgba($color-primary, 0.61);
	}
	&:focus {
		outline: none;
	}

	&__option {
		background-color: $whitemine;
		color: inherit;
		text-decoration: none;
		display: grid;
		grid-gap: 1vh;
		padding: 8px;
		margin: 8px;
		align-items: center;
		text-align: center;
		width: 17vh;
		min-width: 108px;
		max-width: 140px;
		height: 13vh;
		min-height: 83px;
		max-height: 107px;
		@include box-shadow(1);

		&:hover {
			background-color: rgba(0, 0, 0, 0.07);
			@include box-shadow(2);
		}
		&:active {
			background-color: rgba(0, 0, 0, 0.13);
			@include box-shadow(1);
		}
	}
}

.back {
	text-decoration: none;
	color: inherit;
	margin-right: 8px;
	padding: 4px;
	border-radius: 4px;

	&:active {
		background-color: rgba(0, 0, 0, 0.07);
	}
}
