@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.new {
	@include box-shadow(1);
	background-color: $whitemine;
	padding: 8px;
	border-radius: 4px;
	display: none;

	&__transition {
		display: block;
	}

	&__input {
		width: 90%;
		border: none;
	}

	&__button {
		background-color: rgba($color-primary, 0.5);
		position: relative;
		top: 13px;
		right: 12px;
		float: right;
		border: none;
		border-radius: 4px;
		padding: 8px 12px;
		cursor: pointer;
		@include box-shadow(1);

		&:hover {
			@include box-shadow(2);
			background-color: rgba($color-primary, 0.73);
		}
		&:active {
			@include box-shadow(1);
			background-color: rgba($color-primary, 0.52);
		}
	}
}
