@import '../../styles/variables.scss';

.themes {
  &__box {
    display: inline-block;
    margin: 8px;
  }

  &__item {
    padding: 48px 12px 0px 12px;
    min-width: 96px;
    text-align: left;
    font-size: 16px;
  }
}
