@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.navigation-drawer {
  z-index: 9999;
  background-color: inherit;
  position: fixed;
  top: 0;
  left: -280px;
  height: 100vh;
  width: 260px;
  transition: left 0.5s ease-in-out;

  @include box-shadow(5);

  &--open {
    left: 0;
  }

  &__head {
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12px;

    &__button {
      background-color: inherit;
      border: none;
      cursor: pointer;

      & i {
        display: block;
      }
    }
  }

  &__menu {
    margin-top: 16px;
    padding: 0 16px 0 8px;

    &__item {
      color: inherit;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      vertical-align: middle;
      width: 100%;
      padding: 4px 8px;
      margin-bottom: 4px;
      cursor: pointer;

      & i {
        display: block;
        padding-right: 8px;
      }

      &--active {
        background-color: $color-hover;
        border-radius: 4px;
      }
    }
  }
}
