@import "mixin";

$app-padding: 20px;
$container-max-width: 500px;
$color-primary: rgba(126, 105, 126, 0.979);;
$color-danger: #f44336;
$color-success: #4caf50;

body {
    font-family: 'Josefin Sans', sans-serif;
}

.app-bar {
    background-color: $color-primary;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;

    &__container {
        height: 46px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0px 20px;
        max-width: 500px;
        border-radius: 2px;
        
    }

    &__action {
        background-color: transparent;
        border: none;
        margin-right: 12px;
        cursor: pointer;
        color: white;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: rgba(65, 57, 65, 0.979);
            opacity: 0.8;
            color: black;
        }
    }

    &__brand {
        flex: 1px;
        color: white;
    }
}

.container {
    margin: 0 auto;
    padding: 70px 20px;
    max-width: 500px;
}

.section-header {
    margin-top: 20px;
    width: 100%
    &__title {
        font-size: 26px;
    }
    &__separator {
        height: 2px;
        background-color: gray;
        min-width: 500px;
    }

    &__action {
        float: right;
        background-color: white;
        border: 1px black solid;
        border-radius: 50%;
        height: 42px;
        cursor: pointer;
        position: relative;
        bottom: 20px;
        right: 5%;
    }
}

.section-button {
    margin-top: 10px;
    
    &__action {
        height:100px;
        cursor: pointer;
        width: 130px;
        border: none;
        background-color: rgba(126, 105, 126, 0.979);
        color: white;
        border-radius: 5%;
        &__icon {
            font-size: 50px;
        }
    }
    &__title {
        align-items: bottom;
        font-size: 15px;
    }
}

.navigation-drawer {
    position: fixed;
    top: 0;
    left: -280px;
    height: 100vh;
    width: 260px;
    background-color: #fff;
    @include box-shadow(5); // acima de todos os outros componentes
    transition: left 0.5s ease-in-out;

    &--open {
        left: 0;
    }

    &__menu {
        margin-top: 16px;
        padding: 0 8px;

        &__item {
            display: block;
            width: 100%;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            cursor: pointer;
            padding: 6px 8px;

            i {
                margin-right: 8px;
            }

            &:hover {
                background-color: rgba(0,0,0,0.08)
            }
        }
    }

    &__head {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 12px;

        &__button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }
}

.new-student {
    background-color: #fff;
    border-radius: 2px;
    display: flow-root;
    margin-top: 10px;
    &__input {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        border: none;
        @include box-shadow(1);

        &:focus {
            outline: none;
        }
    }
    &__submit {
        
        background-color: transparent;
        border: none;
        float: right;
        margin-top: 2px;
        margin-bottom: 5px;
        text-decoration: underline;
    }
}

.note-list {
    margin: 50px 0px;
    width: 100%;
}

.note {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 2px;
    @include box-shadow(1);

    &__text {
        flex: 1;
    }

    &__input {
        flex: 1;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #f5e674;
    }

    &__button {
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &--hidden {
            visibility: hidden;
        }

        &--red {
            color: $color-danger;
        }

        &--green {
            color: $color-success;
        }

        &--text {
            text-decoration: underline;
        }
    }
}

.theory-lesson {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 2px;
    height: 100%;
    @include box-shadow(1);

    &__text {
        flex: 1;
    }

    &__input {
        flex: 1;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #f5e674;
    }

    &__button {
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &--hidden {
            visibility: hidden;
        }

        &--red {
            color: $color-danger;
        }

        &--green {
            color: $color-success;
        }

        &--text {
            color: black;
            
            text-decoration: underline;
            text-decoration-color: black;
        }
    }

    &__student-count {
        flex: -1;
    }
}

.new-theory-lesson {

    background-color: #fff;
    border-radius: 2px;
    display: flow-root;
    margin-top: 30px;
    width: 100%;
    &__input {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        border: none;
        @include box-shadow(1);

        &:focus {
            outline: none;
        }
    }
    &__submit {
        
        background-color: transparent;
        border: none;
        float: right;
        margin-top: 2px;
        margin-bottom: 5px;
        text-decoration: underline;
    }
}

.add-student {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px 12px;
    border-radius: 2px;
    @include box-shadow(1);

    &__text {
        flex: 1;
    }

    &__input {
        flex: 1;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #f5e674;
    }

    &__button {
        background-color: transparent;
        border: 0;
        cursor: pointer;

        &--hidden {
            visibility: hidden;
        }

        &--red {
            color: $color-danger;
        }

        &--green {
            color: $color-success;
        }

        &--text {
            text-decoration: underline;
        }
    }
}